.box{
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    margin: auto;
    width: 40%;
    background-color: rgba(7, 18, 119, 0.8);
    box-shadow: 1px 2px 5px black;
}

.userForm{
    font-size: 30px;
    font-family: 'Swis721 BlkCn BT';
    text-shadow: 4px 2px black;
}

.leaderboard {
    color: white;
    background-color: #081161;
    font-family: 'Swis721 BlkCn BT';
    font-size: 45px;
    border: solid black;
    text-shadow: 4px 2px black;
}

.even {
    background-color: #142195;
}