@font-face {
    font-family: "Question-Clue";
    src: local('Question-Clue'), url('../fonts/Clue-Korinna-Regular.woff2') format("woff2");
    src: local('Question-Clue'), url('../fonts/Clue-Korinna-Regular.woff') format("woff");
}
@font-face {
    font-family: "Category-Name";
    src: local('Category-Name'),url('../fonts/Cat-Swiss921-BT.woff2') format("woff2");
    src: local('Category-Name'),url('../fonts/Cat-Swiss921-BT.woff') format("woff");
}
@font-face {
    font-family: "Dollar-Amount";
    src: local('Dollar-Amount'),url('../fonts/Dollar-swiss911-uc.woff2') format("woff2");
    src: local('Dollar-Amount'),url(../fonts/Dollar-swiss911-uc.woff) format("woff");
}
.card {
    font-family: 'Question-Clue';
    font-weight: 600;
    font-size: calc(3.4vh + 3.4vw);
    letter-spacing: 0.02em;
    line-height: calc(9vh);
    position: fixed;
    text-shadow:9px 8px 6px #000000;
    top: 40%;
    left: 50%;
    color:#ffffff;
    transform: translate(-50%, -50%);

    width: 80%;
    height: 75%;
    background: linear-gradient(to bottom, #060ce9 0%, #22099e 50%, #060ce9 100%); 
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    z-index: 3;
  }
  .card-content {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    font-size: clamp(3vw + 3vh, 3.2vw + 3.2vh, 3.5vw + 3.5vh);
    width: 90%;
    height:90%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
  }
  
  .close {
    font-family: 'Question-Clue';
    font-weight: 600;
    font-size: calc(3.4vh + 3.4vw);
    position: absolute;
    top: 1%;
    right: 5%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 10;
    opacity: 1;
    color: #ffffff;
  }
  
  .close::before {
    font: 1em sans-serif;
    content: "Click to Close";
    position: absolute;
    top:-50%;
    left: 250%;
    transform: translateX(-50%);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1; /* Ensure the hover text appears on top of other elements */
    white-space: normal; /* Allow the browser to wrap text normally */
  }
  
  .close:hover::before {
    opacity: 1;
  }
  
  /* Example styles for the card content */
  .card-title {
    position: relative;
    
  }
  
  .card-text {
    font-size: 16px;
    font-weight: bold;
  }

.questionBox{
    overflow: visible;
    border: 2px solid black; 
    cursor: pointer;
    font-family: 'Dollar-Amount';
    color: #f9c145;
    font-size: calc(3vh + 3vw);
    text-shadow:4px 2px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(to bottom, #060ce9 0%, #22099e 50%, #060ce9 100%);
}
.questionBox .flip {
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .questionBox .front,
  .questionBox .back {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
  }
  .questionBox:hover{
    cursor: pointer;
  }
  .questionBox .front {
    z-index: 2;
    transform: rotateY(0deg);
  }
  
  .questionBox .back {
    transform: rotateY(180deg);
  }
  
  .questionBox.flip .front {
    transform: rotateY(-180deg);
  }
  
  .questionBox.flip .back {
    transform: rotateY(0deg);
  }
  
.categoryNameBox{
    font-family: 'Category-Name';
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: calc(0.9vh + 0.9vw);
    border: 2px solid black;
    border-bottom: 8px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: linear-gradient(to bottom, #060ce9 0%, #22099e 50%, #060ce9 100%);  
}
.categoryColumn{
    border: 1px solid black; 
    overflow: visible;
}

.jeopardyBoard{
    overflow: visible;
    border: 3px solid black; }

    
      
.dimBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.7);
}

