
[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  color: #fff;
  font-weight: 700;
  height: 300px;
  width: 300px;
  max-height: 100vh;
  border: #000000 5px solid;
}
[class^="number-slide"],
[class*=" number-slide"]:hover {
  background: rgb(0, 128, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 85px;
  color: #fff;
  font-weight: 700;
  height: 300px;
  width: 300px;
  max-height: 100vh;
  border: #ffffff 9px solid;
}
.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgb(64, 191, 255) 0%,
    rgb(210, 63, 255) 100%
  );
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgb(146, 22, 228) 0%,
    rgb(255, 118, 64) 100%
  );
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgb(255, 134, 64) 0%,
    rgb(51, 21, 247) 100%
  );
  
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgb(70, 64, 255) 0%,
    rgb(245, 63, 255) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgb(255, 64, 239) 0%,
    rgb(255, 63, 63) 100%
  );
}
.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgb(255, 64, 64) 0%,
    rgb(34, 159, 255) 100%
  );
}
