.multipleChoiceButton{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 44px;
    font-weight: bold;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 12px;
    display: flex center;
}

.multipleChoiceDiv{
    display: none;
    position: fixed;
    bottom:10%;
    z-index: 6;
    overflow: visible;
    left : 0%;
    width: 100%;
    justify-content: center;
    flex:  1;
    text-align: center;
}